
body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.container {
    width: 880px; /* Set the width of your content */
    max-width: 100%; /* Ensures responsiveness for smaller screens */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Optional: Add some padding if needed */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}


/* centre and bold captions for code listings */
.caption {
	text-align: center;
	font-weight: bold;
	margin: 5px;
}

/* put a box around pseudo code */
.pseudocode {
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}

/* force book images to centre */
.book_image {
	display: block;
	margin-left: auto;
	margin-right: auto
}

/* better than default hr */
hr {
	border-top: 1px dashed #888;
}

/* header style */
.header {
	color: #444;
}

/* footer style */
.footer {
	color: #444;
}

/* algorithm side panel */
.side {
	color: #444;
	padding: 2px;	
}


/* inset */
.book_content {
	padding: 4px;
}

.flash_info {
	color: green;
}

.flash_error {
	color: red;
}
